img.zoomifyc {
	cursor: zoom-in;
}

/*遮罩*/
.zoomifyc-shadow {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1500;
    background: rgba(0, 0, 0 , .3);
}
.zoomifyc-shadow {
	opacity: 1;
	/*cursor: zoom-out;*/
}

/*内容块*/
.zoomifyc-content {
	position: absolute;
	width: 100%;
	left: 0; /*避免body有margin时，默认left不是0*/
	/*z-index: 1500; 不要设置索引*/
	/*top: 0;需要计算*/
}

/*图片容器*/
.zoomifyc-imgbox {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 600px; /*需要计算*/
	height: 500px; /*需要计算*/
	z-index: 1502;
}
/*图片*/
#zoomifycWrap .zoomifyc-img {
	width: 100%;
}

/*上下切换按钮*/
.zoomifyc-switch {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 50px;
	margin: auto;
	width: 98%;
	max-width: 1200px;
	/*padding: 0 10px;*/
	font-size: 40px;
	/*z-index: 1503;*/
}
.zoomifyc-switch>span {
	position: relative;
	padding: 1% 1%;
	border-radius: 5px;
}
.zoomifyc-switch .prev {
	float: left;
	
}
.zoomifyc-switch .next {
	float: right;
}

/*左上角关闭按钮*/
.zoomifyc-content .zoomifyc-close {
	position: absolute;
	top: -8px;
	right: -8px;
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 20px;
	display: none;
}


/*工具栏*/
.zoomifyc-tools {
	position: absolute;
	bottom: 2%;
	width: 100%;
	text-align: center;
	/*background-color: rgba(0, 0, 0, .2);*/

}
.zoomifyc-tools span {
	position: relative;
	display: inline-block;
	/*padding: 5px 15px;*/
	padding: 0.5% 1%;
	border-radius: 6px;
	color: #fff;
	margin: 0 2px;
	font-size: 26px;
	/*z-index: 1503;*/
}
.zoomifyc-tools span>img{
	width: 22px;
	/*vertical-align: middle;*/
}


/*操作按钮*/
.zoomifyc-content .btn{
	color: #fff;
	background-color: #000;
	opacity: .6;
	cursor: pointer;
	z-index: 1503;
}
.zoomifyc-content .btn:hover{
	opacity: .8;
}
.zoomifyc-content .btn.disabled {
	opacity: .3;
	cursor: not-allowed;
}
